@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    min-height: 100%;
  }

  .glow {
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #805ad5,
    0 0 35px #805ad5,
    0 0 40px #805ad5,
    0 0 50px #805ad5,
    0 0 75px #805ad5;
  }

  @layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }