

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: solid 1px white;
}

.headerNavBar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
    &>li {
      &:hover {
        cursor: pointer;
        scale: 1.1;
    }
      .connectButton {
      width: 5rem;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* body */
.main {
  margin: 2rem;
  text-align: center;
  height: 100vh;
}

.mainNavBar {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
  top:-2%;
    &>div {
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
}

.button {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.heroText{
  text-align: left;
  margin: 2rem 0 2rem 0;
}

/* --- Trade page ---*/
.tradeMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  text-align: center;
  height: 100vh;
}

.tradeBox {
  border: solid 1px white;
  width: 65vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &>button {
    width: 50%;
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
  &>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
    &>li {
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
  }

  .tradeBoxTop, .tradeBoxBottom {
    width: 100%;
    background-color: #3b3b3b;
    flex: 1;
    display: flex;
    &>div {
      flex: 1;
      padding: 2rem 0;
      &> div {
        font-size: small;
        text-align: center;
        color: #757575;
      }
      &> input {
        width: 90%;
        height: 50%;
        border: none;
        font-size: 2.5rem;
        overflow: auto;
        text-align: center;
        flex:1;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:focus {
          border: none;
          outline: none
        }
      }
      &> select {
        width: 30%;
        height: 50%;
        border: none;
        &:focus {
          border: none;
          outline: none
        }
      }
    }
  }
}

/* footer */
.footer {
  text-align: center;
  padding: 2rem;
  border-top: solid 1px white;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}



